/* p {
    color: blueviolet;
    background-color: aqua;
    font-size: 20px;
}

h1 {
    color: blueviolet;
    background-color: aquamarine;
}

body {
    background-color: pink;
} */


h1 {
    color: darkgoldenrod;
    ;
}

p {
    color: green;
}

span {
    color: blue;
}